@page "/"

<PageTitle>Blazor School code sample</PageTitle>
<h1>Welcome to Blazor School!</h1>

<p>Demonstrate how to interact witht he 3rd party API in Blazor Server .NET 6. - Blazor School</p>
<p>For additional tutorials on Blazor WebAssembly, visit <a href="https://blazorschool.com" target="_blank">Blazor School</a>.</p>